<div class="row" ng-controller="chatRoomCtrl" >
    <div class="col-md-3">
        <div class="panel">

            <div class="panel-heading">
                <div id="search_bar" class="search_bar">
                    &nbsp;
                    <img src="/images/search_icon.png" />
                    <input type="text" placeholder="search" ng-model="nickname"/>
                </div>
            </div>

            <div class="panel-body">
                <div class="list-container">
                    <div class="list" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{show: false}">

                        <div class="chat-list-empty" ng-if="chatUserList.length < 1">
                            <!--loading online user-->
                            <!--<br />-->
                            <!--please wait....-->
                            no online user
                        </div>

                        <!--<chatlist user="chatUser" ng-repeat="chatUser in chatUserList track by chatUser.nickname"  ></chatlist>-->

                        <div ng-repeat="chatUser in chatUserList | filter:nickname | orderBy:'-time'" class="col-md-12 chat-item" ng-class="{'active' : (chatUser.nickname == currentNickName)}" ng-click="itemClick(chatUser.username, chatUser.nickname)">
                            <div class="avatar">
                                <img src="images/photo_default.jpg" title="{{chatUser.nickname}}" />
                                <div class="red-point" ng-if="chatUser.noticeCount"></div>
                            </div>
                            <div class="info">
                                <span class="nickname" ng-bind="chatUser.nickname"></span>
                                <p class="msg" ng-if="chatUser.MMDigest">
                                    <span ng-if="chatUser.noticeCount > 0">[{{chatUser.noticeCount}} news]</span>
                                    <span ng-bind-html="chatUser.MMDigest | trust"></span>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="chat-room col-md-9">

        <div class="chat-title">
            <div class="row">
                <div ng-show="currentContact.getDisplayName()" ng-cloak>

                    <div class="col-md-12">
                        <span class="display-name" ng-bind="currentContact.displayName"></span>
                    </div>

                </div>
            </div>

        </div>

        <div class="chat-content" contextmenu options="menuOptions" menu-list="lists" click-menu="clickMenu(item)" align="rt">
            <div class="list-container">
                <div class="list" ng-scrollbar scrollbar-x="false" scrollbar-y="true" scrollbar-config="{show: false, autoResize: true, dragSpeed: 1.2}">

                    <div class="message-empty" ng-if="messages.length < 1">
                        <div ng-hide="currentContact.getDisplayName()">Chat is not selected</div>
                        <div ng-show="currentContact.getDisplayName()">No news</div>
                    </div>

                    <message self="username" scrolltothis="scrollToBottom()" info="message" ng-repeat="message in messages"></message>

                </div>
            </div>
        </div>

        <div ng-show="currentContact.getDisplayName()" class="chat-area">
            <div id="tool-bar">

                <div id="disease-knowledge">&nbsp;</div>
                <div id="questionnaires">&nbsp;</div>
                <div id="referral-reminder">&nbsp;</div>

                <!--<div style="float:right;">-->
                <!--<button>消息记录</button>-->
                <!--</div>-->
            </div>
            <div id="edit-area">
                <pre contenteditable="true" ng-keydown="editAreaKeydown($event)" ng-keyup="editAreaKeyup($event)" ng-click="editAreaClick()" ng-model="editAreaCtn" ng-blur="editAreaBlur($event)" contenteditabledirective></pre>
            </div>
            <div class="action">
                <span ng-if="!isMacOS" class="desc">按下Ctrl+Enter发送</span>
                <span ng-if="isMacOS" class="desc">按下Cmd+Enter发送</span>
                <a class="btn btn_send" ng-click="sendTextMessage()" href="javascript:;">发送</a>
            </div>
        </div>

    </div>

</div>

<div style="position:absolute;top:0;left:0;width:0;height:0;">
    <audio id="voiceMsgPlayer" class="voicePlayer"></audio>
    <audio id="msgNoticePlayer" class="voicePlayer" style="width: 0px; height: 0px;">
        <img id="jp_poster_0" style="width: 0px; height: 0px; display: none;">
        <audio id="jp_audio_0" preload="metadata" src="sound/msg.mp3"></audio>
    </audio>
</div>

<script id="message.html" type="text/ng-template">

    <div class="message-content">
        <div class="time-area" ng-if="info.time > 0">
            <span class="time">{{info.time | date: 'HH:mm' }}</span>
        </div>

        <div ng-class="{'avatar':self !== info.from, 'avatar-right':self === info.from}">
            <img title="{{info.from}}" src="images/photo_default.jpg" />
        </div>

        <div ng-class="{'message':self !== info.from, 'message-left':self === info.from}" ng-bind-html="info.content | trust"></div>
    </div>
</script>